---
import MDPostTags from "../components/MDPostTags.astro";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  frontmatter: {
    title: string;
    author: string;
    pubDate: string;
    description: string;
    image: {
      url: string;
      alt: string;
    };
    tags: string[];
  };
}
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p><em>{frontmatter.description}</em></p>
  <p>Published at: {frontmatter.pubDate.slice(0, 10)}</p>
  <p>Written by {frontmatter.author}</p>
  <img src={frontmatter.image.url} alt={frontmatter.image.alt} width="300" />
  <MDPostTags tags={frontmatter.tags} />
  <slot />
</BaseLayout>
